$font-family-base: 'silkaregular', sans;
$font-primary: 'silkaregular', sans;

$font-silkablack: 'silkablack', sans;
$font-silkabold: 'silkabold', sans;
$font-silkaextra_light: 'silkaextra_light', sans;
$font-silkalight: 'silkalight', sans;
$font-silkamedium: 'silkamedium', sans;
$font-silkaregular: 'silkaregular', sans;
$font-silkasemibold: 'silkasemibold', sans;
$font-silkathin: 'silkathin', sans;
$font-silkablack_italic: 'silkablack_italic', sans;
$font-silkabold_italic: 'silkabold_italic', sans;
$font-silkaextra_light_italic: 'silkaextra_light_italic', sans;
$font-silkalight_italic: 'silkalight_italic', sans;
$font-silkamedium_italic: 'silkamedium_italic', sans;
$font-silkaregular_italic: 'silkaregular_italic', sans;
$font-silkasemibold_italic: 'silkasemibold_italic', sans;
$font-silkathin_italic: 'silkathin_italic', sans;

$arrows: 'Arrows';

//color variables

$white: #ffffff;
$black: #000000;

$color-typo-dark: #36363d;
$color-typo-extra-dark: #171719;
$color-orange: #cc6c44;
$color-purple: #716aa7;
$color-purple-light: #928BBA;
$color-bg-purple-light: #F1EBEE;
$color-pink: #F3E5D9;
$color-bg-dark: #33333A;
$color-bg-extra-dark: #1f1f22;
$color-bg-light: #faf7f0;


//'silkathin':        100
//'silkaextra_light': 200
//'silkalight':       300
//'silkaregular':     400
//'silkamedium':      500
//'silkasemibold':    600
//'silkabold':        700
//'silkablack':       800